h1{text-align: center;}
h2{text-align: center;}
img{align-content: center;}
img {
  width: 60%;
  height: 60%;
}
img {
  display: block;
  margin: auto;
}
h1 {
  font-size: 55px;
}

h2 {
  font-size: 35px;
}

ul {
  font-size: 30px;
}